<a href="https://colab.research.google.com/github/Malikasadjaved/Python_classes/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#matrix

In [ ]:
#mat=[[1,2,3], [4,5,6], [7,8,9]] list same as down
mat=[
    [1,2,3],
    [4,5,6],
    [7,8,9]

]
print(mat[0][2]) #<- in mat=[0]this is row and [2] this is colum the output: is 3

3

In [ ]:
for row in mat:
  print (row)
  print("++++++++++++++++++++")

for col in mat:
  print (col)
  print("++++++++++++++++++++")

[1, 2, 3]
++++++++++++++++++++
[4, 5, 6]
++++++++++++++++++++
[7, 8, 9]
++++++++++++++++++++
[1, 2, 3]
++++++++++++++++++++
[4, 5, 6]
++++++++++++++++++++
[7, 8, 9]
++++++++++++++++++++

In [ ]:
for row in mat:
#  print (row)
  for col in row:
   col+=1
   print (col)
  print("++++++++++++++++++++")

2
3
4
++++++++++++++++++++
5
6
7
++++++++++++++++++++
8
9
10
++++++++++++++++++++

In [ ]:
for row in mat:
  for col in row: #for colum in rows
      col+=1      #add a number in each col number +1
      print (col)
      print("++++++++++++++++++++") #for spartate

2
++++++++++++++++++++
3
++++++++++++++++++++
4
++++++++++++++++++++
5
++++++++++++++++++++
6
++++++++++++++++++++
7
++++++++++++++++++++
8
++++++++++++++++++++
9
++++++++++++++++++++
10
++++++++++++++++++++

Functions
* waht is fucntions
* *if we want to use a thing repeatedly we can creat a coustom function
* jub bhi koi kam bar bar 10 step  perform karne ke bajaye unko aik fuction me enclose kar dai gy

#define the function
 def add():    def for define phr name phr () phr : colon
   code ki logic yaha aye gi
   pass  



invoke the function

In [ ]:
def greet(name):
  print(f"Asalam o alikum {name} kia hall hai g")

greet("asad")                         # yeh humara function hai is me humara argument hai asad
                                      # jo funtion run karty hue function ko input di jati hai use arrgument khty hai
greet("asad".capitalize()) # yaha funtion me maine aik or function use kia hai .upper()or bhi use ho sakty hai captilize xyz

Asalam o alikum asad kia hall hai g
Asalam o alikum Asad kia hall hai g

In [ ]:
#define the function
def add():    #def for define phr name phr () phr : colon
   #code ki logic yaha aye gi
   pass



#invoke the function

In [ ]:
#define the function
def add(a:int,b:int):    #def for define funtion phr "add" nameof the funtion phr () phr : colon for next block inside function
   result1=(a+b)# next line code ki logic yaha aye gi
   print(result1)



#invoke the function
add(5,6)

11

In [ ]:
#define the function
def add(a:int,b:int):    #def for define funtion phr "add" nameof the funtion phr () phr : colon for next block inside function
   result1=(a+b)# next line code ki logic yaha aye gi
   print(result1)



#invoke the function

add(22,99) #or hume aise bhi likh sakty hain positonal arrgument ko keywor me bhi change kar sakty hain\
add(a=22,b=99)

121
121

#4 type of function
# 1   no input -> no output
# 2   input ->no output
# 3   no input -> output
# 4   input-> output

In [ ]:
 #1 no input no output()
def multiply(): #no input mean no input in funtion parameter as arrgument
    first_numb=int(input("enter first number"))
    second_numb=int(input("enter second number"))
    result=first_numb*second_numb
    print(result)    #Yeh sirf dikhany ke liye hai  kye multiplyication ho rhi hai lakin multiply ka function  kuch return nhi kar rha

multiply() #no out put mean no output in funtion calling time  """function will return none"""

enter first number11
enter second number2
22
enter first number22
enter second number3
66
None

In [ ]:
# 2 Input -> No Output  matlb hum ne funtion ki body ke bhr  input le rhy hain lakin funtion kuch return nhi kar rha
def multiply(first_number,second_number ):
    result = first_number * second_number
    print("this is to only show  not to return any value-> ",result)   #yeh sirf show kare ga lakin multiply me kuch save nhi hoga #none hai
#return use nhi kia isliye no output kuch bhi return nhi kare ga khali print me show kare ga
first_number = int(input("Enter first number: "))  #yaha yeh funtion ki body ke bhar hum ne input li hai
second_number = int(input("Enter second number: "))

multiply(first_number, second_number)
#print(multiply(first_number, second_number))     #iss ko cooment iss liye kia hai yeh
                                                  # hume bta dai multiply me kia return hua hai kuch bhi nhi none

Enter first number: 22
Enter second number: 33
this is to only show  not to return any value->  726

*NOTE: Ager hum ne koi function  define kia bnaya hai usko koi phr usko inwoke kia value /arrgument di to usko kuch return karna chye uper ke function me koi inwoke hone ke bad output multiply ka function nhi de rha hai matlab  wo return none kar rha hai

In [ ]:
#defination of function
def multiply(first_number,second_number ):
    result = first_number * second_number
    print("this is to only show  not to return any value-> ",result)   #yeh sirf show kare ga lakin multiply me kuch save nhi hoga #none hai

first_number = int(input("Enter first number: "))  #yaha yeh funtion ki body ke bhar hum ne input li hai
second_number = int(input("Enter second number: "))

#invoke the function

multiply(first_number, second_number)

Enter first number: 22
Enter second number: 33
this is to only show  not to return any value->  726

In [ ]:
#same case above
def multiply(a,b):
    result = a * b
    print(result)   #yeh sirf show kare ga lakin multiply me kuch save nhi hoga #none hai

first_number = int(input("Enter first number: "))  #yaha yeh funtion ki body ke bhar hum ne input li hai
second_number = int(input("Enter second number: "))

#invoke the function

multiply(first_number, second_number)

Enter first number: 88
Enter second number: 99
8712

In [ ]:
The first part, def multiply(a, b):, defines the function.

def is a keyword in Python used to declare a function.
multiply is the name of the function.
(a, b) inside the parentheses indicate that this function expects two arguments,
      which will be referred to as a and b within the function.
The colon : signifies the start of the function's body.
Inside the function, result = a * b calculates the product of the two arguments a and b and stores it in a variable named result.
The line print(result) displays the value of result to the console.

first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))   These two lines get input from the user.

#invoke the function

multiply(first_number, second_number)
Use code with caution
Finally, this line calls or "invokes" the multiply function.

multiply(first_number, second_number) passes the integer values stored in first_number and second_number as arguments to the multiply function.
When the function is called, the code inside its body is executed with a taking the value of first_number and b taking the value of second_number.
This will calculate the product of the two numbers provided by the user and print the result only to show but not return anything in function multyply()

In [ ]:
#no input  -> output
def multiply():
  first_number = int(input("Enter first number: "))  #yaha yeh funtion ki body ke bhar hum ne input li hai
  second_number = int(input("Enter second number: "))
  result = first_number * second_number
  return(result)
  #print(result)

#invoke the function
result=multiply()
print("out side the function result>........",result)

Enter first number: 55
Enter second number: 2
out side the function result 110

In [ ]:
#4 input -> output
def multiply(a,b):
    result = a * b
    return(result)
first_number = int(input("Enter first number: "))  #yaha yeh funtion ki body ke bhar hum ne input li hai
second_number = int(input("Enter second number: "))

result=multiply(first_number,second_number)
print(result)

Enter first number: 33
Enter second number: 4343
143319

In [ ]:
Summery : jub invoking multply() me hum ager koi value de gy 22,33,44,first_num,secnd_num ,x,y,z,a,b..
 jo recive hua def ki body me jo multiply() a,b,f_num,s_num wagera me racive hua or humne output result return karwa dia
 jaha per bhi return ka keyword aye ga function waha se direct apni invoking position per chala jaye ga

In [ ]:
#programe case me  do number add kare or phr 3rd se multiply kar dain
def add(a,b):
  result=a+b
  return result


def multiply(a,b):
  return a*b

result=add(3,7)
multi_result= multiply(result,34)
print(multi_result)2

enter first number55
enter second number33
enter number to multiply with addition33
the result of the addition is 88
the result of multiplycation  of addition is 2904

#positional aurgoments
argument humesha parameter  per ja kar hi place hoga waha per koi bhi chiz ho wo apni location per ja kar save hoga nichy 2 exmple
pehli  me argument ko correct likha hai  to result same aya hai apni position wala or jub cahnge kia hai tub bhi result aya hai lakin age ki jaga name or name ki jaga age ayi hai

In [ ]:
def teacher_info(name:str,age:int):
  print(f"teacher name is {name} and age is {age}")

teacher_info("asad",22)

teacher name is asad and age is 22

In [ ]:
teacher_info(18,"asad")       #yaha argument ki position me  age ki jaga name or name
                              #ki jaga age likh di hai postion change hone se result diff aya hai lakin  parameter ne
                              #agrument ki position se woi  value pick ki hai jiss sequence se value di gai hai

teacher name is 18 and age is asad

* keyword arrguments

In [ ]:
def teacher_info(name,age):
  print(f"teacher name is {name} and age is {age}")

teacher_info("asad",22)

teacher name is asad and age is 22

In [ ]:
teacher_info(age=22,name="asad") #yaha per humne keyword bhi add kar dia hai
                                #jo ke parameter me  us jaga jaye ga jo jga uske keyword ki
                                # hai ubh position matter nhi kare gi
                                # function invoke kar ke me 22 ki value age me de rha hu or asad ki value me
                                # name me de raha ho

teacher name is asad and age is 22

default value arrgument me
* hum parameter me  hi value de daity hai ke ager argument me koi
* value na bhi ho to default value run ho jaye

In [ ]:
def teacher_info(name="test",age=22): #defult value
  print(f"Hello {name} and Your age is {age}")

teacher_info()
teacher_info("asad")

Hello test and Your age is 22
Hello asad and Your age is 22

In [ ]:
teacher_info(age=18)

Hello test and Your age is 18

In [ ]:
teacher_info(name='Rehan')

Hello Rehan and Your age is 22

In [ ]:
teacher_info('Rehan',30)

Hello Rehan and Your age is 30

In [ ]:
def simple_func(names):
    pass              # ager ap koilogic nhi den gy to pass ke keyword se
                       #error nhi de ga q ke : se wo code block expect ka rha hai



simple_func("rehan")

#unlimited positional aurguments

koi aisa function hai jiss me parameter ki tadad define nhi hai koi 10 de rha hai ko12 de rha hai toh uske liye hum nichy wala block code use kare gy

In [ ]:
def simple_func(*names): #aisa function jo 100 se bhi ziada parameter
                        #dety jo kam kare ga  or result tuple me aye ga
    print(names)


simple_func("rehan","mustafa","faizan","ali") #yeh tuple ki faom me result de ga

('rehan', 'mustafa', 'faizan', 'ali')

In [ ]:
*def simple_func(*names):
    for name in names:
        print(name)
    print(type(names))


simple_func("Rehan","Usman","Ibtisam")

Rehan
Usman
Ibtisam
<class 'tuple'>

In [ ]:
def simple_func(*names):
    for name in names:
        print(name)
    print(type(names))

names = ["Rehan", "Usman", "Ibtisam"]

simple_func(*names) # list unpacking yeh uski squre brakets kholy ga or alag alag likhy ga availble karwa dai ga

Rehan
Usman
Ibtisam
<class 'tuple'>

keyarguments

In [ ]:
def simple_func(**kwargs):
    print(kwargs)
    print(type(kwargs))

simple_func(name='Rehan', age=4)

{'name': 'Rehan', 'age': 4}
<class 'dict'>

In [ ]:
def simple_func(**kwargs):
    for key, value in kwargs.items(): # (name,rehan  ),(age,4)
        print(f"key is {key}  value is {value}")
    print(kwargs)
    print(type(kwargs))

simple_func(name='Rehan', age=4)

key is name  value is Rehan
key is age  value is 4
{'name': 'Rehan', 'age': 4}
<class 'dict'>

In [ ]:
def simple_func(**kwargs):
    for arg in args:
        print(name)
    print(type(names))

names = ["Rehan", "Usman", "Ibtisam"]

simple_func(*names)

#scoops in function

In [ ]:
def greeting(name):
  print("hello",name)

greeting("asad")

hello asad

In [ ]:
def greeting(name):
    print("Hello",name)

name="asad"

greeting(name)

hello asad

In [ ]:
def greeting(name):
    name= "rehan"   #when the veriable is assigend a value inside the function it is called local variable /scope is local
    print("Hello",name)

name="asad" #when the variable is outside the function it is called global variable/ scope is globle

greeting(name)

print(name) #string has different memory address so it  will remane same due to its immuteability

Hello rehan
asad

#string immuteable hai wo globle me same rahy ga  lakin list muteable hai wo change ho jaye gi
# or new result  same memory address me shift ho jaye ga

In [ ]:
def check_list (My_list: list): #check list ka fn bnaya  parameter me dal dia
    My_list.append(4)         #list ko append kia
    print(sample_list) # [1,2,3,4]


sample_list = [1,2,3]     #global variable bnaya
print("befor calling funtion list is",sample_list)
print("befor calling fn memory rafrance is ",id(sample_list))
check_list(sample_list)

print(sample_list) #output :[1,2,3,4] is ka out put [1,2,3] ana chye tha
                            #q keh list muteable hai is liye is ke
                              #memory refrancee same hone ki waja se isme hi changes hongy

print("after runing of function memory address is",id(sample_list)) #due to muteability of list type

befor calling funtion list is [1, 2, 3]
befor calling fn memory rafrance is  133699864226624
[1, 2, 3, 4]
[1, 2, 3, 4]
after runing of function memory address is 133699864226624

In [ ]:
def check_list (sample_list: list):
    sample_list.append(4)
    print(sample_list) # [1,2,3,4]


sample_list = [1,2,3]

check_list(sample_list)

print(sample_list)

In [ ]:
def check_list (l: list):
    l.append(4)
    print(l) # [1,2,3,4]


sample_list = [1,2,3]

check_list(sample_list)

print(sample_list)

[1, 2, 3, 4]
[1, 2, 3, 4]

# using of globle *inside* fn body and without boday result

In [ ]:
#without using globle scope result will be as per rule
def check_string(n):
  name = "Rehan"
  print(f"Inside the Function {name}")

name = "Usman"

check_string(name)

print(f"Outside of function {name}")

Inside the Function Rehan
Outside of function Usman

In [ ]:
#using global
def greetings(n):
    global name #global ka key word bhar waly ki value funtion ke ander change karta hai
    name = 'Rehan'
    print(f"Inside the Function {name}")

name = 'Usman'
print(f"function run hone se pehly name  {name} tha phr fn run hua ")

greetings(name)

print(f"Outside of function {name}")

function run hone se pehly name  Usman tha phr fn run hua
Inside the Function Rehan
Outside of function Rehan

In [ ]:
#using global

teacher_name: str = "asad" #yeh bahar wala hai

def greetings():
    global teacher_name #global ka key word bhar waly ki value funtion ke ander change karta hai
    teacher_name = 'Rehan' #yeh ander wala hai
    print(f"Inside the Function {teacher_name}")

greetings()

print(f"Outside of function {teacher_name}")

Inside the Function Rehan
Outside of function Rehan

#Recourcion
#factorail

In [ ]:
def factorial(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    else:
        result = 1 #120
        for i in range(2,n+1): #2, 3, 4, 5
            result *= i   # 120
        return result
print(factorial(5)) # Output: 120

120

For Recurcion: it is important to add base case in recursion

In [ ]:
def factorial(n):
  #base case
    if n < 0:
        return None
    if n < 2:
        return 1
   #Recursive case
    return n * factorial(n-1)
print(factorial(5)) # Output: 120

120

In [ ]:
# prompt: fibonachi series with recursion

# Fibonachi series with recursion
def fibonacci(n):
    # Base cases
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    # Recursive case
    else:
        # Get the sequence up to n-1
        fib_sequence = fibonacci(n - 1)
        # Calculate the next number
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        # Append the next number to the sequence
        fib_sequence.append(next_fib)
        return fib_sequence

# Example usage
n = 11
print(f"Fibonacci series up to {n}: {fibonacci(n)}")

Fibonacci series up to 11: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Exercise 9: (4) A Fibonacci sequence is the sequence of numbers 1, 1, 2, 3, 5, 8, 13, 21, 34, upto 20 times

#lambda function
yeh aik aisa function hai jo waha hi bnaya waha hi use kia or waha hi khatam ho gya  (disposible function )
lambda parameter: expression

In [ ]:
lambda parameter: expression/logic

In [ ]:
# prompt: add lambda function in below example wihout adding map

result = (lambda a, b: a * b)(5, 6)
result

30

In [ ]:
# A lambda function that adds 10 to a number
add_ten = lambda x: x + 10

# Call the lambda function
print(add_ten(5))  # Output: 15

15

In [ ]:
# prompt: add example of map with lambda function

# Map with a lambda function
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[1, 4, 9, 16, 25]