<a href="https://colab.research.google.com/github/Malikasadjaved/Python_classes/blob/main/Tuples%2CFString%26set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#logical operators

In [ ]:
result_equal: bool = 5 == 5
result_not_equal: bool = 10 != 7
result_greater_than: bool = 8 > 3
result_less_than: bool = 6 < 9
result_greater_equal: bool = 5 >= 5
result_less_equal: bool = 33 <= 4
print(result_equal)
print(result_not_equal)
print(result_greater_than)
print(result_less_than)
print(result_greater_equal)
print(result_less_equal)

True
True
True
True
True
False

In [ ]:
str1 = "hello"
str2 = "World"
print(str1 == str2)  # Output: False
print(str1 != str2)  # Output: True
print(str1 < str2)   # Output: True (since "H" comes before "W" lexicographically)

False
True
False

#String Formatting (%, .format(), f-strings)
Strings can be formatted using different methods.

In [ ]:
name = "Alice
age = 30

# Using % operator
print("My name is %s and I am %d years old." % (name, age))  # Output: "My name is Alice and I am 30 years old."

# Using .format()
print("My name is {} and I am {} years old.".format(name, age))  # Output: "My name is Alice and I am 30 years old."

# Using f-strings (Python 3.6+)
print(f"My name is {name} and I am {age} years old.")  # Output: "My name is Alice and I am 30 years old."

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

#input from user

In [ ]:
name = input("Enter name")
age = input("Enter age")


# % operator istemal karne ke liye varible ki type bhi define karni pare gi
# warna error de ga for example name=str(input("enter name") Using % operator

#print("My name is %s and I am %d years old." % (name, age))  # Output: "My name is Alice and I am 30 years old."

# Using .format()
print("My name is {} and I am {} years old.".format(name, age))  # Output: "My name is Alice and I am 30 years old."

# Using f-strings (Python 3.6+)
print(f"My name is {name} and I am {age} years old.")  # Output: "My name is Alice and I am 30 years old."

Enter namekiki
Enter age22
My name is kiki and I am 22 years old.
My name is kiki and I am 22 years old.

In [ ]:
name,age=input("enter name and age").lower().split()
#IDER  do fuction use kiye hain  lower or split yuaha capital or
#mazeed function bhi use kar sakty hain

print(f"my name is  : {name} & MY enter age is : {age}") # f tring se print lia hai

enter name and agetahA 23
my name is  : taha & MY enter age is : 23

In [ ]:
#simple input
name=print(input("enter name: ")) #one line fuction we can take and print input on the same line
#print(name)
age=input("enter age: ")
print(age)
#we used split fuction to split two  inputs and sprated them with space

x, y = input("Enter two numbers separated by space: ").split()
print(f"First number: {x}, Second number: {y}")

enter name: asad javed
asad javed
enter age: 11 22
11 22
Enter two numbers separated by space: 11 22
First number: 11, Second number: 22

In [ ]:
name=input("enter name: ") #one line fuction we can take and print input on the same line

print(f"this is my name:{name} ")

enter name: kiki
this is my name:kiki

In [ ]:
print(dir(name))

In [ ]:
x, y = map(int, input("Enter two numbers separated by space: ").split())
print(f"First number: {x}, Second number: {y}")

Enter two numbers separated by space: 11 22
First number: 11, Second number: 22

#Tuple

In [ ]:
student_roll=(1,2,3,4,5)#tupe is a immuteable data type for constat data we cann not change
student_roll[1]

2

#why we use tuple?

In [ ]:
 #we use tuple q keh
 # list ke case me hum koi bhi item APPEND or POP kar sakty hai to chances hai ke
# humari Student_ids me changes a jaye ager kissi point per 1000 line ka code
# hai koi fuction add karty hue koi us me add kar sakta hai koi delet karsata
# hai list me to allow hai ke app kar sakty hai lakin tuple ,me pythone allow
# nhi karta ubh ager student ki ids ko list me rakha ho toh waha changing a jaye
# toh humara data mixup ho sakta hai humara program crash hoskta hai bugs a sakta hai
#hume pata chala  ke humare pas aik data type TUPLE hai  jo immuteable hai jiss ke ander values change nhi hoti
# toh hum ne kha ke 1000 ke dataa per risk q len is liye hum ne koi bhi aise
# chiz jis me changing nhi ani chye usko tuple me daly gy q ke jub bhi issko
# access kia jaye toh iss me koi value add na ho saky koi pop na ho sky koi
# change na hosaky

In [ ]:
student_ids=(1,2,3,4,5,6,7,8,9,10)

print(student_ids)

In [ ]:
student_roll=(1,2,3,4,5)
print(id(student_roll))

student_roll=(1,2,3,4)
print(id(student_roll))

132113152347408
132113150037984

In [ ]:
#dfference b/w list and tuple
# tuple me mameroy address change ho jata hai ager ap usme changes kare gy
# every time its id mwemory location change with cahnges

student_roll=(1,2,3,4,5)
print("orignal tuple : ",id(student_roll))
print("After cahnge in tuple now the memory adress change")
student_roll=(1,2,3,4)
print("After change in tuple : ",id(student_roll))
print("+++++++++++++++++ ")
#tuple me mameroy address change nhi hota hai ager ap usme changes kare gy
# every time its id memory location naver change with cahnges
num_list=[1,2,3,4,5]
print("orignal list",id(num_list))

num_list.append(6)
print("after change in list ",id(num_list))
print("this is called immutable and muteble")

orignal tuple :  132113152344448
after cahnge in tuple now the memory adress change
After change in tuple :  132113150043184
+++++++++++++++++
orignal list 132113150297152
after change in list  132113150297152
this is called immutable and muteble

In [ ]:
dir(student_roll)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#Tuple fuctions
tuple has only two funtions
count

*   count
*   index

In [ ]:
student_roll1=(1,2,3,4,5,6,123,8,9,10,11,12,13,141,1512221,112,1123)
print(student_roll1.count(8)) # it will cout the numer of time the value repeat
print(student_roll1.index(112)) #it will tell the index of the value
# and if you want to access the value using indexing wo alag chiz hai like down
# below
print(student_roll1[2])#print value on index 2
print(student_roll1[2:10:]) # print value  from 2 to index 10
print(student_roll1[2:10:2]) #print value from 2 to 10 with step 2

1
15
3
(3, 4, 5, 6, 123, 8, 9, 10)
(3, 5, 123, 9)

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
student_roll1
print(student_roll1)
print(len(student_roll1))
print(max(student_roll1))# print higer value in tuple
print(min(student_roll1))# min value in tuple
student_nametup= ("asad","ali","taha","zubair","shahid","faizan","zyzu")
print(max(student_nametup))# max value  by alphabets
print(min(student_nametup))# min value  by alphabets

(1, 2, 3, 4, 5, 6, 123, 8, 9, 10, 11, 12, 13, 141, 1512221, 112, 1123)
17
1512221
1
zyzu
ali

In [ ]:
#asciI code
print(ord("A"))
print(ord("a"))
print(ord("Z"))
print(ord("z"))

65
97
90
122

#ager ap varibale assign kar ke qoma laga daity ho toh tuple ban jaye ga

In [ ]:

first_number = 4,    #hum tuple ko samll brackets me   qoma spratet likhty hai (1,1,2) or (2) or 1,

print(first_number)
print(type(first_number))

f_num=4
print(f_num)
print(type(f_num))

(4,)
<class 'tuple'>
4
<class 'int'>

In [ ]:
num_list=[5]*3
print("list:",num_list)
num_tup= (5,)*3
num_tup

list: [5, 5, 5]

(5, 5, 5)

tuple unpaking

In [ ]:
score=(10,20) #unpak
x,y=score #tuple unpaking

print(x)
print(y)

In [ ]:
score=(10,20,30) #unpak
x,y=score #tuple unpaking
#yaha per teen values hoti ager score=(10,2,30) phr ager hum uper wali
#unpaking ki command dety toh expected value ka error ata
#iss liye jitne value hongi utny valiable assign karna zaroori hai

print(x)
print(y)

ValueError: too many values to unpack (expected 2)

In [ ]:
score=(10,20,30) #unpak
x,y,z=score #tuple unpaking

print(x)
print(y)
print(z)

10
20
30

In [ ]:
teacher_name=("ali","asad","taha")
print(teacher_name)
print(teacher_name[0]) #0 index per ali hai
print(teacher_name.index("ali")) #ali ka index 0 hai
print(teacher_name.count("ali"))# ali one time aya hai toh 1 aye ga result

('ali', 'asad', 'taha')
ali
0
1

#sets

In [ ]:
num_set={1,2,3,4,5,6,7,8,9,10} # hum dictionary ki traha set ko {} me use kar ke bnaye gy
print(num_set)

['ali', 'asad', 'taha']

#why we use set?

In [ ]:
# mere pas aik list hai jis me mene invitation bhjna hai apne dosto ko ke khana
# ke dawat hai ubh list me ali ko 2 bar hone ki awaja se do bar invitation chala
# jaye ga repetion me
guest_list=["ali","asad","ali","taha"] # m
print(guest_list)

['ali', 'asad', 'ali', 'taha']

#ya mere pas aik grosery item ki list hai jiss me  oil 2 bar a gya hai

In [ ]:
grosery_list=["soap","oil","water","oil","chips"]
print(grosery_list)

['soap', 'oil', 'water', 'oil', 'chips']

#ub repetion se bachny ke liye sets ko use kia jata  hai

In [ ]:
grosery_set={"soap","oil","water","oil","chips"}
print(grosery_set)
#output me repetion khatam

{'water', 'oil', 'soap', 'chips'}

In [ ]:
num_set0={1,2,3,3,4,5,7,7,9,10} # hum dictionary ki traha set ko {} me use kar ke bnaye gy
print(num_set0)

{1, 2, 3, 4, 5, 7, 9, 10}

#set me repetion khatam kar di jati hai set me tamam element unique value rakhy jaty hai ager repetion bhi karty hai tub bhi output me fine result aye ga

In [ ]:
# prompt: example of sets  methods with explanation

# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {1, 2, 3}
set4 = {9, 10}

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Set 3: {set3}")
print(f"Set 4: {set4}\n")

# 1. add(element)
# Adds an element to the set. If the element is already present, nothing happens.
print("1. add(element):")
set1.add(6)
print(f"After adding 6 to set1: {set1}\n")

# 2. remove(element)
# Removes the specified element from the set. Raises a KeyError if the element is not found.
print("2. remove(element):")
try:
  set1.remove(6)
  print(f"After removing 6 from set1: {set1}")
  # Trying to remove an element that doesn't exist
  # set1.remove(10)
except KeyError:
  print("Element not found when trying to remove.")
print("-" * 20)

# 3. discard(element)
# Removes the specified element from the set. Unlike remove(), it does NOT raise a KeyError if the element is not found.
print("3. discard(element):")
set1.discard(5)
print(f"After discarding 5 from set1: {set1}")
set1.discard(10) # Element 10 is not in set1, but no error
print(f"After discarding 10 from set1 (no error): {set1}\n")

# 4. pop()
# Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.
print("4. pop():")
arbitrary_element = set1.pop()
print(f"Popped element from set1: {arbitrary_element}")
print(f"Set1 after popping: {set1}\n ")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Set 3: {1, 2, 3}
Set 4: {9, 10}

1. add(element):
After adding 6 to set1: {1, 2, 3, 4, 5, 6}

2. remove(element):
After removing 6 from set1: {1, 2, 3, 4, 5}
--------------------
3. discard(element):
After discarding 5 from set1: {1, 2, 3, 4}
After discarding 10 from set1 (no error): {1, 2, 3, 4}

4. pop():
Popped element from set1: 1
Set1 after popping: {2, 3, 4}
 nanapatekar{4, 5, 6, 7, 8}

In [ ]:

# 5. clear()
# Removes all elements from the set.
print("5. clear():")
temp_set = {1, 2, 3}
print(f"Temporary set before clear: {temp_set}")
temp_set.clear()
print(f"Temporary set after clear: {temp_set}\n")

# 6. union(other_set) or set1 | set2
# Returns a new set with elements from both sets (no duplicates).
print("6. union(other_set):")
union_set = set1.union(set2)
print(f"Union of set1 and set2: {union_set}")
print(f"Using operator |: {set1 | set2}\n")

# 7. intersection(other_set) or set1 & set2
# Returns a new set with only the elements common to both sets.
print("7. intersection(other_set):")
intersection_set = set1.intersection(set2)
print(f"Intersection of set1 and set2: {intersection_set}")
print(f"Using operator &: {set1 & set2}\n")

# 8. difference(other_set) or set1 - set2
# Returns a new set with elements in the first set but not in the second set.
print("8. difference(other_set):")
difference_set = set1.difference(set2)
print(f"Elements in set1 but not in set2: {difference_set}")
print(f"Using operator -: {set1 - set2}\n")

# 9. symmetric_difference(other_set) or set1 ^ set2
# Returns a new set with elements in either set1 or set2 but not in both.
print("9. symmetric_difference(other_set):")
symmetric_difference_set = set1.symmetric_difference(set2)
print(f"Elements in either set1 or set2 but not both: {symmetric_difference_set}")
print(f"Using operator ^: {set1 ^ set2}\n")

# 10. issubset(other_set) or set1 <= set2
# Returns True if all elements in set1 are also in set2.
print("10. issubset(other_set):")
print(f"Is set3 a subset of set1? {set3.issubset(set1)}")
print(f"Using operator <=: {set3 <= set1}\n")

# 11. issuperset(other_set) or set1 >= set2
# Returns True if all elements in set2 are also in set1.
print("11. issuperset(other_set):")
print(f"Is set1 a superset of set3? {set1.issuperset(set3)}")
print(f"Using operator >=: {set1 >= set3}\n")

# 12. isdisjoint(other_set)
# Returns True if the set has no elements in common with other_set.
print("12. isdisjoint(other_set):")
print(f"Is set1 disjoint from set4? {set1.isdisjoint(set4)}")
print(f"Is set1 disjoint from set2? {set1.isdisjoint(set2)}\n")

# In-place update methods (modify the original set):
# 13. update(other_set) or set1 |= set2
# Adds elements from other_set to the current set.
print("13. update(other_set):")
set1_copy = set1.copy() # Work on a copy
set1_copy.update(set4)
print(f"Set1 copy after updating with set4: {set1_copy}")
set1_copy_op = set1.copy()
set1_copy_op |= set4
print(f"Set1 copy after updating with set4 (operator): {set1_copy_op}\n")

# 14. intersection_update(other_set) or set1 &= set2
# Removes elements from the set that are not present in the other_set.
print("14. intersection_update(other_set):")
set1_copy = set1.copy()
set1_copy.intersection_update(set2)
print(f"Set1 copy after intersection_update with set2: {set1_copy}")
set1_copy_op = set1.copy()
set1_copy_op &= set2
print(f"Set1 copy after intersection_update with set2 (operator): {set1_copy_op}\n")

# 15. difference_update(other_set) or set1 -= set2
# Removes elements from the set that are present in the other_set.
print("15. difference_update(other_set):")
set1_copy = set1.copy()
set1_copy.difference_update(set2)
print(f"Set1 copy after difference_update with set2: {set1_copy}")
set1_copy_op = set1.copy()
set1_copy_op -= set2
print(f"Set1 copy after difference_update with set2 (operator): {set1_copy_op}\n")

# 16. symmetric_difference_update(other_set) or set1 ^= set2
# Updates the set with elements in either set1 or set2 but not both.
print("16. symmetric_difference_update(other_set):")
set1_copy = set1.copy()
set1_copy.symmetric_difference_update(set2)
print(f"Set1 copy after symmetric_difference_update with set2: {set1_copy}")
set1_copy_op = set1.copy()
set1_copy_op ^= set2
print(f"Set1 copy after symmetric_difference_update with set2 (operator): {set1_copy_op}\n")

# 17. copy()
# Returns a shallow copy of the set.
print("17. copy():")
set_original = {1, 2, 3}
set_copy = set_original.copy()
print(f"Original set: {set_original}")
print(f"Copied set: {set_copy}")
print(f"Are they the same object? {set_original is set_copy}") # False, they are different objects
set_original.add(4)
print(f"Original set after add: {set_original}")
print(f"Copied set after original changed: {set_copy}\n")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Set 3: {1, 2, 3}
Set 4: {9, 10}

1. add(element):
After adding 6 to set1: {1, 2, 3, 4, 5, 6}

2. remove(element):
After removing 6 from set1: {1, 2, 3, 4, 5}
--------------------
3. discard(element):
After discarding 5 from set1: {1, 2, 3, 4}
After discarding 10 from set1 (no error): {1, 2, 3, 4}

4. pop():
Popped element from set1: 1
Set1 after popping: {2, 3, 4}

5. clear():
Temporary set before clear: {1, 2, 3}
Temporary set after clear: set()

6. union(other_set):
Union of set1 and set2: {2, 3, 4, 5, 6, 7, 8}
Using operator |: {2, 3, 4, 5, 6, 7, 8}

7. intersection(other_set):
Intersection of set1 and set2: {4}
Using operator &: {4}

8. difference(other_set):
Elements in set1 but not in set2: {2, 3}
Using operator -: {2, 3}

9. symmetric_difference(other_set):
Elements in either set1 or set2 but not both: {2, 3, 5, 6, 7, 8}
Using operator ^: {2, 3, 5, 6, 7, 8}

10. issubset(other_set):
Is set3 a subset of set1? False
Using operator <=: False

11. issuperset(other_set):
Is set1 a superset of set3? False
Using operator >=: False

12. isdisjoint(other_set):
Is set1 disjoint from set4? True
Is set1 disjoint from set2? False

13. update(other_set):
Set1 copy after updating with set4: {2, 3, 4, 9, 10}
Set1 copy after updating with set4 (operator): {2, 3, 4, 9, 10}

14. intersection_update(other_set):
Set1 copy after intersection_update with set2: {4}
Set1 copy after intersection_update with set2 (operator): {4}

15. difference_update(other_set):
Set1 copy after difference_update with set2: {2, 3}
Set1 copy after difference_update with set2 (operator): {2, 3}

16. symmetric_difference_update(other_set):
Set1 copy after symmetric_difference_update with set2: {2, 3, 5, 6, 7, 8}
Set1 copy after symmetric_difference_update with set2 (operator): {2, 3, 5, 6, 7, 8}

17. copy():
Original set: {1, 2, 3}
Copied set: {1, 2, 3}
Are they the same object? False
Original set after add: {1, 2, 3, 4}
Copied set after original changed: {1, 2, 3}