<a href="https://colab.research.google.com/github/Malikasadjaved/Python_classes/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
message= " Hello"
print(message*3)

 Hello Hello Hello

'in'
'not in'

In [6]:
greetings="Hello Asad"
print("As" not in greetings)
print("ad" in greetings)

False
True

Sequence in strings index

In [10]:
message_1="Hello what is your name"
print(message_1[0])
print(len(message_1))

H
23

String Formating

In [14]:
name ="Asad"
age= 30
#using % operator
print("My name is %s and i am %d years old"%(name,age))

My name is Asad and i am 30 years old

Quree =”Responce me in a  {Prefrence} maneer”

 # using {} with dot format

In [15]:
name ="Asad"
age= 30
#using {} . Formate
print("My name is {} and i am {} years old".format(name, age) )

My name is Asad and i am 30 years old

#Using f sting

In [16]:
name ="Asad"
age= 30
#using f-String
print(f"My name is {name} and i am {age} years old")

My name is Asad and i am 30 years old

# Escape sequence

In [18]:
#Escape Charecter for using single qout ' use /
greetings=("This is Asad\'s home")
print(greetings)

This is Asad's home

In [19]:
greetings=("This is Asad\ts home")
print(greetings)

This is Asad	s home

In [21]:
greetings=("This is Asad \r home")
print(greetings)

 home

# Type, dir, id function

In [28]:



name ="Asad"
#Type tell data type
print(f"type is :{type(name)}")
#dir tell  all methods(function)


print(f"dir is:{dir(name) }")


# id tells memory location
print(f"id is:{id(name) } ")

type is :<class 'str'>
dir is:['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
id is:133305320657136

#interning
Apki memory me aik velue pari hui hai  ager ap aik or  veriable me  use karna chahty hain

In [32]:
#Interning
name_1=("asad")
name_2=("asad")
print(id(name_1))
print(id(name_2))

133305320841200
133305320841200

#Muteable /immuteable
Change able / can not be change
Data types are muteable or immuteable

#Immuteable
String
Bool
Int
Float
Tuple

#muteable
List
Dictionary
Sets

#what are comments

In [37]:


#Immuteable String

name=("asad")
print(id(name))
name=("khan")

print(id(name))

#mute able which can change like list set dictionary

name_list=['asad', 'khan']
print(name_list)
print(id(name_list))

name_list.append("rehan")
print(id(name_list))
print(name_list)

133305320841200
133305322371760
['asad', 'khan']
133305322305664
133305322305664
['asad', 'khan', 'rehan']

In [49]:
#Comments are two types
#1
#And 2 is"""
name="asad"# and agy yaha comment hai
#doc strings with triple qouts
"""
This is for
Multiple line
Comments ager  apka comment bara
Ho jaye
Or apko
Ziada line use karna parhy toh
Ap triple double " " "Ko istemal kare gy"""

'\nThis is for\nMultiple line \nComments ager  apka comment bara \nHo jaye \nOr apko \nZiada line use karna parhy toh\nAp triple double " " "Ko istemal kare gy'

#List

In [55]:
student_name=["asad", "rayan", "ali", "fatima"]

#we can acess through indexing
print(student_name[0])

#through silicing we can access last number of studets
print(student_name[-1])
#lenth of the students list
print(len(student_name))

asad
fatima
4

In [63]:


print(student_name)
student_name.append(15)
print(student_name)

['asad', 'rayan', 'ali', 'fatima', 'faizan', 'faizan', 'faizan', 15]
['asad', 'rayan', 'ali', 'fatima', 'faizan', 'faizan', 'faizan', 15, 15]

In [74]:
#For adding on specific location

student_name.insert(2,38) #for inserting on speccfic index we use insert
print(student_name)

['asad', 'rayan', 38, 38, 38, 38, 'ali', 'fatima']

In [68]:
student_name.remove("faizan")
print(student_name)

['asad', 'rayan', 38, 38, 38, 'ali', 'fatima', 'faizan', 'faizan', 15, 15]

In [77]:
student_name.remove(38)
print(student_name) #runes two times

['asad', 'rayan', 38, 38, 'ali', 'fatima']

In [73]:
#pop  is use to remove last element on list and return value

pooped_val = student_name.pop()
print(pooped_val)
print(student_name)

faizan
['asad', 'rayan', 38, 38, 38, 'ali', 'fatima']

In [78]:
print(student_name)

['asad', 'rayan', 38, 38, 'ali', 'fatima']

In [79]:
pooped_val = student_name.pop(0) #while using index  numer we can  remove the desier number
print(pooped_val)
print(student_name)

asad
['rayan', 38, 38, 'ali', 'fatima']

#Slicing

In [81]:
teacher_name=["Rayan","usmama","wania","Sirzia"]
print(teacher_name)

['Rayan', 'usmama', 'wania', 'Sirzia']

In [82]:
new_teacher=teacher_name[1:4:2]
new_teacher

['usmama', 'Sirzia']

In [84]:
first_teacher= teacher_name[0:3]
first_teacher

['Rayan', 'usmama', 'wania']